:root {
  --white-color: #fff;
  --black-color: #000;
  --text-color: rgb(77, 89, 105);
  --primary-color: #c01111;

  --header-height: 99.2px;
}
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  line-height: 1.6rem;
  font-family: "Open Sans";
  box-sizing: border-box;
  font-style: 1.6rem;
}
body {
  height: 10000px;
  font-size: 1.4rem;
}

a {
  color: var(--text-color);
  text-decoration: none;
}
