/* Header */
.header {
  height: var(--header-height);
}

.header--sticky-on {
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  box-shadow: 0 0 10px 0 rgba(204, 204, 204, 0.5);
  transition: all 0.3s ease-in-out;
}

.header__logo {
  height: var(--header-height);
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
}

.header__logo-img {
  max-height: 40px;
  height: auto;
  max-width: 100%;
  border: none;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.header__menu-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 1.4rem;
  color: var(--text-color);
  padding: 10px;

  .header-menu {
    height: 100%;
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;

    .header-menu-item {
      height: 100%;
      position: relative;
      display: flex;
      align-items: center;
    }

    .header-menu-item::before {
      content: "";
      display: block;
      position: absolute;
      background-color: var(--primary-color);
      height: 6px;
      border-radius: 5px;
      width: 60%;
      left: 50%;
      top: 0;
      opacity: 0;
      transform: translate(-50%, -300%);
      transition: all 0.4s ease;
    }

    .menu-item--active a,
    .header-menu-item:hover a {
      color: var(--primary-color);
    }

    .header-menu-item:hover {
      cursor: pointer;
    }

    .header-menu-item:hover.header-menu-item::before,
    .menu-item--active.header-menu-item::before {
      transform: translate(-50%, 0);
      opacity: 1;
    }
  }

  .header-menu > li:not(:last-child) {
    margin-right: 35px;
  }
}

.language-container {
  height: 100%;
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 1.5rem;
  margin: 0;
  padding: 10px 0;

  .language-item a {
    color: #949ba4;
    padding: 0 6px;
  }

  .language-item:hover a {
    color: var(--primary-color);
  }

  .language-item--active a {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    border-radius: 4px;
    font-weight: 600;
    padding: 1px 13px;
  }
}

/* Body */
