/* Header */
.header {
  height: var(--header-height);
}

.header--sticky-on {
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  box-shadow: 0 0 10px 0 rgba(204, 204, 204, 0.5);
  transition: all 0.3s ease-in-out;
}

.header__logo {
  height: var(--header-height);
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
}

.header__logo-img {
  max-height: 40px;
  height: auto;
  max-width: 100%;
  border: none;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.header__menu-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 1.4rem;
  color: var(--text-color);
  padding: 10px;

  .header-menu {
    height: 100%;
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;

    .header-menu-item {
      height: 100%;
      position: relative;
      display: flex;
      align-items: center;
    }

    .header-menu-item::before {
      content: "";
      display: block;
      position: absolute;
      background-color: var(--primary-color);
      height: 6px;
      border-radius: 5px;
      width: 60%;
      left: 50%;
      top: 0;
      opacity: 0;
      transform: translate(-50%, -300%);
      transition: all 0.4s ease;
    }

    .menu-item--active a,
    .header-menu-item:hover a {
      color: var(--primary-color);
    }

    .header-menu-item:hover {
      cursor: pointer;
    }

    .header-menu-item:hover.header-menu-item::before,
    .menu-item--active.header-menu-item::before {
      transform: translate(-50%, 0);
      opacity: 1;
    }
  }

  .header-menu > li:not(:last-child) {
    margin-right: 35px;
  }
}

.language-container {
  height: 100%;
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 1.5rem;
  margin: 0;
  padding: 10px 0;

  .language-item a {
    color: #949ba4;
    padding: 0 6px;
  }

  .language-item:hover a {
    color: var(--primary-color);
  }

  .language-item--active a {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    border-radius: 4px;
    font-weight: 600;
    padding: 1px 13px;
  }
}

/* Body */
.body__intro-video {
  position: relative;
  width: 100%;
  padding-bottom: 41.667%;
  overflow: hidden;
}

.intro-video {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
  margin: 0;
  line-height: 1;
  border: none;
}

/* business */
.body-title {
  font-size: 4rem;
  font-weight: 700;
  line-height: 2rem;
  padding-bottom: 25px;
  margin-top: 20px;
  margin-bottom: 40px;
  color: rgb(43, 52, 65);
}

.business {
  padding-top: 32px;
}

.business .business-content {
  border: 6px solid #f9f9f9;
  border-radius: 16px;
  background-color: #fff;
  position: relative;
  display: flex;
}

.business .business-content::before {
  content: "";
  border: 6px solid #f9f9f9;
  border-radius: 16px;
  position: absolute;
  width: 110px;
  height: calc(100% - 80px);
  left: 0;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: -1;
}

.business .business-content .left-content .left-content__des {
  line-height: 2.8rem;
  font-size: 1.6rem;
  color: #2b3441;
  padding: 40px 0 40px 70px;
}

.business .business-content .right-content {
  margin: -70px -35px -115px 40px;
  max-height: 320px;
  .business_intro-img {
    width: 100%;
    height: auto;
    max-width: 100%;
    border: none;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

/* business Card */
.business-card-wrapper {
  margin-top: 62px;
}

.business-card {
  border: 1px solid #d7dadc;
  color: #2b3441;
  border-radius: 16px;
  background-color: #fff;
  position: relative;
}

.business-card--2circle::before {
  content: "";
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #c01111;
  position: absolute;
  right: -83px;
  bottom: 166px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.business-card--2circle::after {
  content: "";
  width: 66px;
  height: 66px;
  border-radius: 50%;
  background-color: #fff7f7;
  position: absolute;
  right: 55%;
  bottom: -85px;
}

.business-card--primary {
  border: 1px solid var(--primary-color);
  color: #fff;
  border-radius: 16px;
  background-color: var(--primary-color);
  position: relative;
}

.business-card--primary::before {
  content: "";
  width: 66px;
  height: 66px;
  border-radius: 50%;
  background-color: #d82329;
  position: absolute;
  right: 50px;
  top: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.business-card .business-card__content {
  padding: 48px;
}

.business-card .business-card__content .business-card__sub-title {
  font-weight: 300;
  position: relative;
  z-index: 0;
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 1.4rem;
}

.business-card .business-card__content .business-card__sub-title::before {
  content: "";
  position: absolute;
  width: 38px;
  height: 38px;
  background-color: #f3f3f3;
  border-radius: 50%;
  left: 0;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: -1;
}

.business-card--primary
  .business-card__content
  .business-card__sub-title::before {
  background-color: rgba(255, 255, 255, 0.3);
}

.business-card .business-card__content .business-card__title {
  font-size: 3.2rem;
  margin-bottom: 24px;
  font-weight: 700;
  line-height: 1.3;
}

.business-card .business-card__content .business-card__description {
  font-size: 1.6rem;
  margin-bottom: 40px;
  line-height: 28.8px;
}

.business-card__button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  background-color: #2b3441;
  color: #fff;
  height: 80px;
  line-height: 80px;
  font-size: 1.8rem;
  padding: 0 20px;
  font-weight: 700;
  text-align: center;
  transition: all 0.3s;
  position: relative;
  z-index: 1;
}
.business-card__button-icon {
  width: 24px;
  height: 24px;
  margin-left: 12px;
  border-radius: 50%;
  display: inline-block;
  background-color: rgb(65 72 84);
  line-height: 25px;
  text-align: center;
}

.btn--primary.business-card__button {
  background-color: #fff;
  color: var(--primary-color);

  .business-card__button-icon {
    background-color: rgba(192, 17, 17, 0.1);
  }
}

.business-card__button::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  z-index: -1;
  opacity: 0;
  -webkit-transform: scale3d(0.7, 1, 1);
  transform: scale3d(0.7, 1, 1);
  transition: opacity 0.4s, -webkit-transform 0.4s;
  transition: transform 0.4s, opacity 0.4s;
  transition: transform 0.4s, opacity 0.4s, -webkit-transform 0.4s;
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  background: var(--primary-color);
}

.btn--primary.business-card__button::before {
  background: #2b3441;
}

.business-card__button:hover {
  .business-card__button-icon {
    background-color: var(--primary-color);
  }
}

.btn--primary.business-card__button:hover {
  color: #fff;
  .business-card__button-icon {
    background-color: rgb(65 72 84);
  }
}

.business-card__button:hover.business-card__button::before {
  transform: scale3d(1, 1, 1);
  opacity: 1;
  background: var(--primary-color);
}

.btn--primary.business-card__button:hover.business-card__button::before {
  transform: scale3d(1, 1, 1);
  opacity: 1;
  background: #2b3441;
}

/* project */

.project {
  margin-top: 140px;
  margin-bottom: 120px;
  position: relative;
  padding: 10px;
}

.project::before {
  content: "";
  width: 71px;
  height: 71px;
  border-radius: 50%;
  background-color: #ffeff0;
  position: absolute;
  right: -90px;
  bottom: -40px;
}

.project__title {
  position: relative;
  line-height: 60px;
}

.project__title::before {
  content: "";
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: #c01111;
  position: absolute;
  right: 25%;
  top: -30px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.project__title::after {
  content: "";
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: rgba(192, 17, 17, 0.1);
  position: absolute;
  left: 0;
  bottom: -40px;
}

.project-counter__wrapper {
  margin-top: 40px;
  padding-bottom: 30px;
}

.project-counter {
  display: flex;
  align-items: flex-end;
  margin-bottom: 50px;
}

.project-counter:last-child {
  margin-bottom: 0;
}

.project-counter__number-wrap {
  display: flex;
  align-items: flex-start;
}

.project-counter__number {
  color: #c01111;
  font-size: 11.2rem;
  font-weight: 700;
  line-height: 1.2;
}

.project-counter__label {
  color: #c01111;
  font-size: 48px;
  font-weight: 700;
  padding-left: 30px;
  position: relative;
  top: 34px;
}

.project-counter__title {
  font-size: 24px;
  position: relative;
  top: -25px;
  left: -50px;
  color: rgb(77, 89, 105);
}

.btn-wrapper {
  margin-top: 20px;
  margin-bottom: 0;
}

.btn--small .business-card__button {
  width: 80%;
}

/* project Counter */

@property --num {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}

.project-counter__number {
  transition: --num 1s;
  counter-reset: num var(--num);
}

.count-to-200 {
  --num: 200;
}

.count-to-300 {
  --num: 300;
}

.project-counter__number::after {
  content: counter(num);
}

/* Project slider */

.project-slider {
  padding: 10px;
  position: relative;
}

.project-slider__frame {
  width: 332px;
  max-height: 470px;
  position: relative;
  margin-top: 90px;
  margin-bottom: 70px;
  border-radius: 8px;
  display: flex;
  overflow: hidden;
  transition: all 0.5s;
  scroll-behavior: smooth;
}

.frame__slide {
  width: 100%;
  position: relative;
}

.frame__slide::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(249, 249, 249, 0.9);
}

.slide__img {
  border: none;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.slide-content {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 24px;
  width: 100%;
  color: rgb(43, 52, 65);
}

.slide-content__sub-title {
  font-size: 1.3rem;
}

.slide-content__title {
  font-size: 2rem;
  line-height: 1.5;
  margin-top: 10px;
  margin-bottom: 15px;
}

.slide-content__title:hover {
  cursor: pointer;
  color: var(--primary-color);
}

.slide-content__description {
  margin-bottom: 20px;
  line-height: 25.2px;
}

.slide-content__button {
  cursor: pointer;
  font-weight: 700;
  color: var(--primary-color);

  .business-card__button-icon {
    background-color: rgba(192, 17, 17, 0.1);
  }
}

.project-slider__controls {
  width: 332px;
  position: absolute;
  bottom: 24px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.controls-btn {
  padding: 0;
  border: none;
  background-color: rgba(148, 155, 164, 0.1);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: all 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 40px;

  .controls-icon {
    color: #949ba4;
  }
}

.controls-btn:last-child {
  margin: 0;
}

.controls-btn:hover {
  cursor: pointer;
  background-color: var(--primary-color);
  .controls-icon {
    color: #fff;
  }
}

/* career */

.career {
  padding: 10px;
}

.career-container {
  background-image: url(https://sun-asterisk.vn/wp-content/uploads/2020/11/career-bg.jpg);
  position: relative;
  border-radius: 16px;
  padding: 10px;
}

.career-container::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(192, 17, 17, 0.9);
  z-index: 0;
  border-radius: 16px;
}

.career-container::after {
  content: "";
  position: absolute;
  background-color: #ef3f45;
  border-radius: 50%;
  width: 42px;
  height: 42px;
  top: 75px;
  left: 75px;
  z-index: 0;
}

.career-content {
  position: relative;
  color: #fff;
  border-radius: 16px;
  padding: 0 5%;
  background-size: cover;
  z-index: 1;
  text-align: center;
}

.career-content__sub-title {
  font-size: 1.8rem;
  font-weight: 300;
  padding-top: 100px;
  position: relative;
}
.career-content__sub-title::before {
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #d82329;
  top: 46px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: -1;
}

.career-content__title {
  font-size: 5.6rem;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 80px;
}

.career-content__description {
  font-size: 3.2rem;
  font-weight: 700;
  margin-bottom: 30px;
  line-height: 57.6px;
}

.career-content__sub-description {
  font-size: 2.4rem;
  line-height: 57.6px;
}

.career-content__btn-wrap {
  display: block;
  width: 406px;
  max-width: 100%;
  margin: 0 auto;
  margin-top: 50px;
  padding-bottom: 50px;
}

/* populated */
.populated {
  margin-top: 140px;
  padding: 10px;
}

.populated-body {
  padding: 10px;
}

.populated__title {
  color: #2b3441;
  padding: 0;
  line-height: 4rem;
}

.populated-body__list {
  margin-top: 50px;
  width: 100%;
}

.populated-list__item {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 35px;
}

.populated-list__item:last-child {
  margin-bottom: 0;
}

.populated-list__icon-wrap {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 6px solid #f9f9f9;
  margin-right: 27px;
  color: var(--primary-color);
  font-size: 2rem;
}

.populated__item-title {
  font-size: 2rem;
  line-height: 3.6rem;
  color: rgb(77, 89, 105);
  font-weight: 500;
}

.populated__banner {
  width: 100%;
  margin-top: 65px;
  position: relative;
}

.populated__banner-img {
  height: auto;
  max-width: 100%;
  border: none;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.populated-btn {
  position: absolute;
  left: 48px;
  right: 48px;
  bottom: 48px;
}

/* news */

.news {
  margin-top: 60px;
  padding: 10px;
}

.news__container {
  padding: 10px;
}

.news-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.news-header__title {
  position: relative;
}

.news-header__title::before {
  content: "";
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: #c01111;
  position: absolute;
  right: 5%;
  top: -45px;
}

.news-slider__controls {
  display: flex;
}

.news-body {
}

.news-body__list {
  width: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
  scroll-behavior: smooth;
}

.news-item {
  min-width: 358px;
  width: 358px;
  padding: 24px;
  border: 1px solid transparent;
  border-radius: 8px;
  margin: 0 12px;
  transition: all 0.3s;
}

.news-item:hover {
  border: 1px solid #e4e4e4;
  transition: all 0.3s;
}

.news-item__img-wrapper {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}

.news-item__img {
  height: auto;
  max-width: 100%;
  border: none;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.news-item__content {
  z-index: 0;
  position: relative;
}

.news-item__content::before {
  content: "";
  position: absolute;
  width: 38px;
  height: 38px;
  background-color: rgba(228, 228, 228, 0.4);
  border-radius: 50%;
  left: 2px;
  top: 12px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: -1;
}

.news-item__title {
  font-size: 1.4rem;
  margin-top: 30px;
  margin-bottom: 20px;
  height: 75px;
  overflow: hidden;
  font-weight: 700;
  line-height: 25.2px;
}

.news-item__title > a:hover {
  color: var(--primary-color);
}

.news-item__preview {
  color: #949ba4;
  height: 75px;
  overflow: hidden;
  margin-bottom: 20px;
  line-height: 25.2px;
}

.news-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 75px;
}

.news-footer .business-card__button {
  width: 366px;
  max-width: 100%;
}
